<nav class="navbar navbar-light bg-faded">
<%= link_to "Home", root_path,class: 'navbar-brand' %>
  <ul class="nav navbar-nav float-xl-right">
    <%- if user_signed_in? %>
     <li class="nav-item "> <%= link_to "logout", destroy_user_session_path , method: :delete,class:"nav-link"  %></li>
    <% else %>
     <li class="nav-item"> <%= link_to "login", new_user_session_path ,class: "nav-link" %></li>
     <li class="nav-item"><%= link_to "signup", new_user_registration_path,class: "nav-link"  %></li>
    <% end %>
   </ul>
</nav>